<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/jms
    http://www.springframework.org/schema/jms/spring-jms.xsd
    http://activemq.apache.org/schema/core
    http://activemq.apache.org/schema/core/activemq-core-5.10.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="mbeanExporter" class="org.springframework.jmx.export.MBeanExporter">
<!-- 		<property name="beans">
			<map>
				<entry key="spitter:name=HomeController" value-ref="homeController"/>
			</map>
		</property> -->
		<property name="server" ref="mbeanServer"/>
		<property name="namingStrategy" ref="jmxNamingStrategy"/>
		<property name="assembler" ref="metadataAssembler"/>
		<property name="notificationListenerMappings">
			<map>
				<entry key="spitter:name=HomeController">
					<bean class="org.tobby.spring.jmx.listener.PagingNotificationListener"/>
				</entry>
				<entry key="Spitter:name=SpitterNotifier">
					<bean class="org.tobby.spring.jmx.listener.PagingNotificationListener"/>
				</entry>
			</map>
		</property>
	</bean>
	
	<context:mbean-server/>
	
	<!-- <context:mbean-export registration="replaceExisting"/> -->
	
	<bean id="homeController" class="org.tobby.spring.jmx.controller.HomeController"/>
	
	<bean id="tobbyController" class="org.tobby.spring.jmx.controller.TobbyController"/>
	
	<bean id="notificationBean" class="org.tobby.spring.jmx.notification.SpittleNotifierImpl"/>
	
	<!-- 	<bean class="org.springframework.jmx.support.ConnectorServerFactoryBean"/> -->
	
	<bean class="org.springframework.remoting.rmi.RmiRegistryFactoryBean"
		p:port="1099"/>
	
	<bean class="org.springframework.jmx.support.ConnectorServerFactoryBean"
		p:serviceUrl="service:jmx:rmi://localhost/jndi/rmi://localhost:1099/spitter"/>
	
	<bean id="assembler" class="org.springframework.jmx.export.assembler.MethodNameBasedMBeanInfoAssembler"
		p:managedMethods="getSpittlesPerPage, setSpittlesPerPage"/>
		
	<bean id="exclusionAssembler" class="org.springframework.jmx.export.assembler.MethodExclusionMBeanInfoAssembler"
		p:ignoredMethods="getSpittlesPerPage, setSpittlesPerPage"/>

	<bean id="interfaceAssembler" class="org.springframework.jmx.export.assembler.InterfaceBasedMBeanInfoAssembler"
		p:managedInterfaces="org.tobby.spring.jmx.controller.HomeControllerManagedOperations"/>
		
	<bean id="metadataAssembler" class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
		<property name="attributeSource" ref="jmxAttributeSource"/>
	</bean>
	
	<bean id="jmxNamingStrategy" class="org.springframework.jmx.export.naming.MetadataNamingStrategy">
		<property name="attributeSource" ref="jmxAttributeSource"/>
	</bean>
	
	<bean id="jmxAttributeSource" class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource"/>
</beans>